html {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
body {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
div {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
span {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
applet {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
object {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
iframe {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
h1 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
h2 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
h3 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
h4 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
h5 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
h6 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
p {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
blockquote {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
pre {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
a {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
abbr {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
acronym {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
address {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
big {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
cite {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
code {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
del {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
dfn {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
em {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
img {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
ins {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
kbd {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
q {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
s {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
samp {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
small {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
strike {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
strong {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
sub {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
sup {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
tt {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
var {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
b {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
u {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
i {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
center {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
dl {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
dt {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
dd {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
ol {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
ul {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
li {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
fieldset {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
form {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
label {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
legend {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
table {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
caption {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
tbody {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
tfoot {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
thead {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
tr {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
th {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
td {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
article {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
aside {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
canvas {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
details {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
embed {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
figure {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
figcaption {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
footer {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
header {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
hgroup {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
menu {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
nav {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
output {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
ruby {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
section {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
summary {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
time {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
mark {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
audio {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
video {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
main {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; font-weight: normal; vertical-align: baseline;
}
article {
	margin: 0px; display: block;
}
aside {
	margin: 0px; display: block;
}
details {
	margin: 0px; display: block;
}
figcaption {
	margin: 0px; display: block;
}
figure {
	margin: 0px; display: block;
}
footer {
	margin: 0px; display: block;
}
header {
	margin: 0px; display: block;
}
hgroup {
	margin: 0px; display: block;
}
menu {
	margin: 0px; display: block;
}
nav {
	margin: 0px; display: block;
}
section {
	margin: 0px; display: block;
}
main {
	margin: 0px; display: block;
}
body {
	font: 15px/1.7 "Hiragino Kaku Gothic Pro", "ÉqÉâÉMÉmäpÉS Pro W3", "ÉÅÉCÉäÉI", Meiryo, "ÇlÇr ÇoÉSÉVÉbÉN", sans-serif; text-align: left; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal; background-color: rgb(245, 245, 245);
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
img {
	width: auto; height: auto; vertical-align: bottom; -ms-interpolation-mode: bicubic; max-width: 100%;
}
a {
	transition:0.3s linear; color: rgb(17, 17, 204); text-decoration: none; -webkit-transition: all .3s linear;
}
a:hover {
	color: rgb(204, 52, 52);
}
a:focus {
	
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
input {
	font-family: inherit; vertical-align: middle;
}
textarea {
	font-family: inherit; vertical-align: middle;
}
select {
	font-family: inherit; vertical-align: middle;
}
input[type='submit'] {
	cursor: pointer;
}
em {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
strong {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.wrapper {
	width: 100%; height: 100%;
}
.clearfix::before {
	display: table; content: " ";
}
.clearfix::after {
	display: table; content: " ";
}
.clearfix::after {
	clear: both;
}
.clearfix {
	
}
