@charset "UTF-8";
/* CSS Document */

/* LEFT MENU */

#menu{
	position: absolute;
	z-index: 20;
	width: 349px;
	top: 80px;
	padding-left:80px;
	margin-left: -120px; /*111*/
}

#menu_background{
	width: 381px;
	height: 100%;
	margin: -45px 0px 0px 0px;	
	padding: 45px 0px 0px 0px;
	background: transparent url(../img/submenu/background.jpg) bottom center repeat-y;
}

#menutitle{
	position:absolute;
	height: 66px;
	top: -25px;
	margin-left:5px;
	padding-bottom:10px;
}

#menu_content > ul > li > a{
	display:block;
	width: 222px;
	height:27px;
	background: transparent top left no-repeat;
	text-indent: -9999px;
}

#menu_top{
	z-index: 15;
	width: 311px;
	height: 85px;
	margin: 0px -20px 0px 0px;
	padding: 0px 0px 0px 70px;
	background: transparent url(../img/submenu/header.png) top left no-repeat;
}

#menu_top img{
	width: 227px;
	height: 66px;
	margin: 19px 0px 0px 14px;
}

#menu_content{
	z-index: 10;
	width: 311px;
	height:auto;
	min-height:434px;
	margin: 0px -20px 0px 0px;
	padding: 50px 0px 20px 70px; 
	background: transparent url(../img/submenu/repeat.png) top left repeat-y;
}

#menu_foot{
	z-index:5;
	width: 475px;
	height: 202px;
	margin-top: 0px;
	margin-left: -94px;
	background: transparent url(../img/submenu/footer.png) left no-repeat;
}
/*
#menu ul{
	margin-left: 0px !important;
}*/

#menu ul{
	/*margin: 0px 0px 0px 27px;*/
	margin: 0px 0px 0px 0px;
	padding-left:10px;
	list-style: none;
}

#menu_content >ul > li{
	margin:14px 0px 10px 0px;
}

#menu_content > ul > li > a:hover,
#menu_content > ul > li > a.select{
	background-position: bottom left;
}

#menu ul ul{
	display: none;
	margin: 12px 0px 12px 20px;
}

#menu ul ul li{
	margin: 2px 0px 2px 0px;
}

#menu ul ul li a{
	color: #00004F;
	font-size: 0.9em;
	line-height: 200%;
	border-bottom: 1px dotted;
	text-decoration:none;
}

#menu ul ul li a:hover,
#menu ul ul li a.select{
	color: #F23062;
	border-bottom: #F23062 1px dotted;
}


/* ---- NEWS CONTENT ---- */

#container{
	z-index: 10;
	float: right;
	width: 802px;
	margin-right: -89px;
}

#content_border{
	width: 786px; /*802*/
	padding: 0px 8px 0px 8px;
	background: transparent url(../img/content_border.png) top center repeat-y;
}

/* -- header -- */

#cornerlefttop, #angel, #feather{
	position: absolute;
	z-index: 30;
}

#cornerlefttop{
	width: 69px;
	height: 64px;
	top: -2px;
	left: 4px;
	z-index: 25;
}

#feather{
	width: 208px;
	height: 201px;
	top: -66px;
	left: 37px;
}

#angel{
	width: 250px;
	height: 230px;
	top: -115px;
	left: 635px;
}

#page_header{
	height: 125px;
	width: 733px;
	margin-left: -45px;
	background: no-repeat;
}

#page_header h2{
	text-indent: -9999px;
}

/* -- articles --  */

#page{
	width: 655px; /* 784*/
	min-height: 700px;
	padding: 0px 64px 10px 66px;
	background: transparent url(../img/content.jpg) bottom center repeat-y;
}

#content h2 {
	width: 100%;
	height: 60px;
	margin: 0px 0px 0px 0px;
}

#content{
	min-height: 750px;
	margin-top: -15px;
	z-index: 10;
}

/* fanclub first div is a text container, so applying directly */
#page.fanclub #content,
#page.page #content{
	padding-left: 20px;
}

#page.page #content > div{
	padding-right: 37px;
}

#page.news #content > div,
#page.profile #content > div{
	min-height:220px;
	border-bottom: 1px dotted black;
	padding-bottom:50px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 37px;
}

/* -- category --*/
#content > div.live, #content > div.liveinfo{
	background-image: url(../../common/img/category/category_live.png);
}
#content > div.cddvd{
	background-image: url(../../common/img/category/category_cddvd.png);
}
#content > div.other{
	background-image: url(../../common/img/category/category_other.png);
}
#content > div.web{
	background-image: url(../../common/img/category/category_web.png);
}
#content > div.voice{
	background-image: url(../../common/img/category/category_voice.png);
}
#content > div.media{
	background-image: url(../../common/img/category/category_media.png);
}
#content > div.event{
	background-image: url(../../common/img/category/category_event.png);
}
#content > div.etc{
	background-image: url(../../common/img/category/category_etc.png);
}
#content > div.anime{
	background-image: url(../../common/img/category/category_anime.png);
}
#content > div.game{
	background-image: url(../../common/img/category/category_game.png);
}
#content > div.ova{
	background-image: url(../../common/img/category/category_ova.png);
}
#content > div.dramacd{
	background-image: url(../../common/img/category/category_dramacd.png);
}
#content > div.fukikae{
	background-image: url(../../common/img/category/category_fukikae.png);
}
#content > div.charactersong{
	background-image: url(../../common/img/category/category_charactersong.png);
}
#content > div.tv{
	background-image: url(../../common/img/category/category_tv.png);
}
#content > div.narration{
	background-image: url(../../common/img/category/category_narration.png);
}
#content > div.radio{
	background-image: url(../../common/img/category/category_radio.png);
}
#content > div.pvoa{
	background-image: url(../../common/img/category/category_pvoa.png);
}
#content > div.cd{
	background-image: url(../../common/img/category/category_cd.png);
}
#content > div.bddvd{
	background-image: url(../../common/img/category/category_livebddvd.png);
}
#content > div.ticket{
	background-image: url(../../common/img/category/category_ticket.png);
}
#content > div.webtvradio{
	background-image: url(../../common/img/category/category_webtvradio.png);
}
#content > div.mobile{
	background-image: url(../../common/img/category/category_mobile.png);
}
#content > div.magazine{
	background-image: url(../../common/img/category/category_print.png);
}
#content > div.promotion{
	background-image: url(../../common/img/category/category_promotion.png);
}
#content > div.stage{
	background-image: url(../../common/img/category/category_stage.png);
}
#content > div.interview{
	background-image: url(../../common/img/category/category_interview.png);
}

#content .pageTop {
	position:absolute;
	right:13px;
	bottom:-36px;
}

#content .pageTop a {
	display:block;
	width:16px;
	height:16px;
	background:url(../../common/img/iconPageTop.png) no-repeat;
	overflow:hidden;
	text-indent:-9999px;
	outline:none;
}

/* -- article title --  */


#content .title{
	margin: 0px 0px 0px -20px;
}

#content .title,
#page.discography h3{
	width: 600px;
	padding: 10px 35px 18px 20px; 
	background: transparent url(../img/ribbon.gif) top left no-repeat;
}

#content h3.title,
#page.discography h3{
	padding-top: 32px;
	padding-bottom: 26px;
	font-size: 1.2em;
}

#content h3{
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 4px 0px;
	color: white;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 140%;
}

#content div.new .title{
	width: 455px;
	padding-right: 190px;
	background: transparent url(../img/ribbon_new.gif) top left no-repeat;
}
#content div .title.line2,
#page.discography h3.line2{
	background-image: url(../img/ribbon2.gif);
}
#content div.new .title.line2{
	background-image:  url(../img/ribbon2_new.gif);
}
#content div .title.line3,
#page.discography h3.line3{
	background-image: url(../img/ribbon3.gif);
}
#content div.new .title.line3{
	background-image:  url(../img/ribbon3_new.gif);
}



/* -- styling  -- */


#content div .right{
	position: relative;
	float: right;
	width: auto;
	margin-top: 10px;
}

#content h4{
	margin:5px 0px -5px 0px;
	font-weight: bold;
	font-size:1.2em;
	line-height: 170%;
	color: #00004C;
}

#content h5, #content h4.subtitle, #content h4.sub{
	font-size: 1.1em;
	line-height: 170%;
	font-weight: bold;
	color: black;
	text-decoration:none;
}

#content div h5{
	margin:5px 0px 0px 0px;
}

#content div .point{
	color: #28509B;
	font-weight:normal
}

#content div .point3{
	color: #2a5099;
}

#content div .point2, #content div .grey{
	color: #4C4541;
}

#page div table{
	margin: 4px 0px 25px 0px;
	border-spacing: 0px;
	border:none;
  border-collapse:collapse;
	line-height: 130%;
}

#content div table caption{
	text-align: left;
	font-weight: bold;
}

#content div table td{
	vertical-align: top;
	padding-right: 20px;
}

#content div table.discography th,
#page.news div table th{
	width: 100px;
	vertical-align: top;
	font-weight:normal;
	text-align:left;
}

#content div table td:last-child{
	padding-right: 0px;
}

#content div dl{
	margin: 0px 0px 15px 0px;
}

#content div dt{
	font-weight:bold;
}

#content div dd{
	margin-bottom: 7px;
	margin-left: 27px;
	color: #28509B;
	line-height: 130%;
}

#content .indent{
	margin-left: 15px;
}

#content div p img{
	display: inline;
}

#content div ul, #page div ol{
	padding-left: 18px;
}

#content ul.kome{
	margin: 10px 0px 15px 18px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#content ul.dot{
	margin: 10px 0px 15px 18px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#content ul.dot li{
	margin-bottom: 15px;
}

#content ul.kome span, #content ul.dot span{
	position: absolute;
	margin-left: -1.2em;
}

/* -- foot --  */
#news_footer{
	z-index: 0;
	width: 802px;
	height: 172px;
	margin-left: -1px;
	margin-top: -50px;
	background: transparent url(../img/news_foot.png) bottom left no-repeat;
}




/* ---- FOOTER ---- */
#goth{
	z-index: -5;
	width: 100%;
	height: 694px;
	margin-top: -670px;
	background: transparent url(../img/footer.png) center bottom no-repeat;
}

#footer{
	z-index:10;
	width: 100%;
	height: 67px;
	padding-top:90px;
	margin-top: -157px;
	background: transparent url(../img/bricks.png) center bottom no-repeat;
}

#footer_inner{
	width: 980px;
	margin: 0px auto 0px auto;
	font-size: 0.7em;
	line-height: 160%;
	color: white;
}

#footer_inner a{
	color: white;
}

#footer_inner ul{
	float: right;
	width:100%;
	height: 20px;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 120%;
}

#footer_inner li{
	float:right;
	border-left: 1px solid white;
}

#footer_inner li.contact{
	border-right: 1px solid white;
}

#footer_inner div{
	float: right;
	width:450px;
}

#footer_inner #sponsor{
	float: left;
	
}
#footer_inner p{
	float:right;
	text-align: right;
	margin: -5px 0px 0px 0px;
}