@charset "UTF-8";
/* CSS Document */

html, body{
	min-width: 800px;
}

#page{
	min-height: 400px;
	padding: 0px 64px 0px 66px;
}

#content{
	min-height: 400px;
	/*padding-bottom:20px;*/
}

#container {
	z-index: 10;
	float: none;
	width: 802px;
	margin-right: 0px;
}

#angel {
	position: absolute;
	z-index: 30;
	width: 190px;
	height: 175px;
	bottom: 40px;
	top: auto;
	left: 605px;
}

#corners{
	position: absolute;
	z-index: 30;
	width: 802px;
	height: 64px;
	top: -2px;
	left: 4px;
	z-index: 25;
}

#close{
	display:inline-block;
	width: 100%;
	margin-top:40px;
	text-align: center;
	position:relative;
	z-index:1000;
}